<!DOCTYPE html>
<html lang="en">
  <head>
  </head><!--/head-->

  <body>
    <section id="form"><!--form-->
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-1">
            <div class="login-form">
              <h2>Create a New Address</h2>
              <%= render 'form' %>
              <%= link_to 'Back', orders_checkout_path %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>