<div class="panel-group category-products" id="accordian">
	<% @categories.each do |i|%>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordian" href="#<%= "#{i.id}" %>">
						<span class="badge pull-right"><i class="fa fa-plus"></i></span>
						<%= "#{i.name}" %>
					</a>
				</h4>
			</div>
			<div id="<%= "#{i.id}" %>" class="panel-collapse collapse">
				<div class="panel-body">
					<ul>
						<% i.subcategories.each do |j| %>
							<li><%= link_to "#{j.name}" , home_index_path(category_id: j.id) , class: "product" , id: "#{j.id}" , remote: true %></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	<% end %>
</div>