<script type="text/javascript" charset="utf-8">
  $(function () {
    var myChart = Highcharts.chart('ordering_chart', {
      chart: { type: 'column' },
      title: { text: 'Orders by Day' },
      xAxis: { categories: [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ] },
      yAxis: {
        title: { text: 'Rupees'}
      },
      series: [
        {
          name: "Total Orders",
          <% order_count = Order.count_of_orders.count %>
          data: <%= order_count.map {|count| count[1] }%>
        },
        {
          name: "Total Sales",
          <% order_total = Order.grand_total %>
          data: <%= order_total.map {|total| total[1] }%>
        }
      ]
    });

    var myChart1 = Highcharts.chart('customer_chart', {
      chart: {
        type: 'column'
      },
      title: {
        text: 'Customer Registered Report'
      },
      xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      },
      yAxis: {
        title: {
            text: 'Total Customers'
        }
      },
      series: [{
        name: 'Total Customer Registered',
        <% months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>
        <% users_registered_count = User.users_registered.count %>
        <% @compare_month = [] %>
        <% months.each do |month| %>
          <% users_registered_count.each do |count| %>
            <% value = count[0].strftime("%b") %>
            <% if value == month %>
              <%  %>
            <% end %>
          <% end %>
        <% end %>
        data: <%= users_registered_count.map {|count| count[1] } %>
      }]
    });

    var myChart2 = Highcharts.chart('coupons_chart', {
      chart: {
        type: 'column'
      },
      title: {
        text: 'Coupons Used'
      },
      xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      },
      yAxis: {
        title: {
            text: 'Total Coupons Used'
        }
      },
      series: [{
        name: 'Total Coupon Used',
        <% used_coupons_count = CouponsUsed.total_coupons.count %>
        data: <%= used_coupons_count.map {|count| count[1] }%>
      }]
    });
  });
</script>
<div class="container" id="ordering_chart" style="width:70%; height:300px;"></div>
<br>
<br>
<br>
<div class="container" id="customer_chart" style="width:70%; height:300px;"></div>
<br>
<br>
<br>
<div class="container" id="coupons_chart" style="width:70%; height:300px;"></div>
