<div class="panel panel-default">
  <div class="panel-heading"> <h3> All Products </h3></div>
  <br>
  <br>
  <div class="panel-body">
    <table class="table table-bordered table-hover">
      <% @products.in_groups_of(3, false).each do |product_show| %>
        <tr>
          <% product_show.each do |product| %>
            <% if product.product_images.length > 0 %>
              <td style="text-align: center"><%= link_to (image_tag "#{product.product_images[0].image.url}" , style: "height: 185px ; width: auto; margin: auto;"), product_path(product.id) %><hr><%= product.name %><br><%= product.price %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>